{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block section %}
<section id="compute_imgs">
    <h2 class="titles_home">Image</h2>
    <h4 class="titles_home">{{ img.name }}</h4>
    <img src="../../{{ img.file.url }}" style="max-width: 400px;">
    <hr>
    <div id="list_imgs">
        <img src="../../{{ im_inverted_url }}">
        <img src="../../{{ im_grey_url }}">
        <img src="../../{{ im_red_url }}">
        <img src="../../{{ im_green_url }}">
        <img src="../../{{ im_blue_url }}">
        <img src="../../{{ im_lum1_url }}">
        <img src="../../{{ im_lum2_url }}">
        <img src="../../{{ im_vertsym_url }}">
        <img src="../../{{ im_fillred_url }}">
        <img src="../../{{ im_fillgreen_url }}">
        <img src="../../{{ im_fillblue_url }}">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="links_DL_img_transformed">
        <a class="btn btn-primary" href="../../{{ im_inverted_url }}" download>Télécharger l'image en inversé</a>
        <a class="btn btn-primary" href="../../{{ im_grey_url }}" download>Télécharger l'image en gris</a>
        <a class="btn btn-primary" href="../../{{ im_red_url }}" download>Télécharger l'image en rouge</a>
        <a class="btn btn-primary" href="../../{{ im_green_url }}" download>Télécharger l'image en vert</a>
        <a class="btn btn-primary" href="../../{{ im_blue_url }}" download>Télécharger l'image en bleu</a>
        <a class="btn btn-primary" href="../../{{ im_lum1_url }}" download>Télécharger l'image en luminosité par 2</a>
        <a class="btn btn-primary" href="../../{{ im_lum2_url }}" download>Télécharger l'image en luminosité fois 2</a>
        <a class="btn btn-primary" href="../../{{ im_vertsym_url }}" download>Télécharger l'image en symétrie verticale</a>
        <a class="btn btn-primary" href="../../{{ im_fillred_url }}" download>Télécharger l'image en remplissage rouge</a>
        <a class="btn btn-primary" href="../../{{ im_fillgreen_url }}" download>Télécharger l'image en remplissage vert</a>
        <a class="btn btn-primary" href="../../{{ im_fillblue_url }}" download>Télécharger l'image en remplissage bleu</a>
    </div>
</section>
{% endblock section %}

{% block footer %}
<footer>
    <!--<h4><a href="{% url 'upload-zone' %}">Envoyer un fichier</a></h4>-->
</footer>
{% endblock footer %}