<header class="bs-docs-nav navbar navbar-static-top" id="top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle top_right_corner_mobile"
                    data-target="#bs-navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand color_black">ProjetPython</a>
        </div>
        <nav class="collapse navbar-collapse" id="bs-navbar">
            <ul id="button_send_file" class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'upload-zone' %}" class="color_black">Envoyer un fichier</a>
                </li>
            </ul>
        </nav>
    </div>
</header>