/* Standard tags */
body {
    background-color: #95a5a6;
}

header {
    background-color: #ecf0f1;
    box-shadow: 0 5px 5px black;
}

section {
    text-align: center;
}
footer {
    background-color: #ecf0f1;
    box-shadow: 0 -5px 5px black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 968px) {
    #button_send_file {
        display: none;
    }
}
@media (min-width: 968px) {
    footer {
        display: none;
    }
}
.modal-body > iframe,
.modal-body > img {
    max-width: 100%;
}
.top_right_corner_mobile > span {
    background-color: black;
}

/* Custom tags */
.color_black {
    color: black !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.titles_home {
    color: white;
}
.image_image {
    max-height: 90px;
    min-height: 90px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px black;
}
.image_modal {
    max-height: 360px;
    min-height: 360px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px black;
}

.block_img {
    display: inline;
    position: relative;
    width: 25%;
}
.block_img > a > img {
    position: relative;
    max-width: 25%;
}

#list_imgs {
    display: inline;
    position: relative;
    width: 25%;
}
#list_imgs > img {
    position: relative;
    max-width: 25%;
}

input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: relative;
    top: 1em;
    color: black;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}